.footer__wrapper {
  background-color: #000;
  width: 100vw;
  height: auto;
  padding: 50px;
  border-top: 3px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__main p {
  color: gray;
  align-self: flex-start;
}
.footer__links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}
.footer__links a {
  color: gray;
  font-size: 12px;
  margin: 10px 0;
}
.col {
  display: flex;
  flex-direction: column;
}
@media (max-width: 425px) {
  .footer__links a {
    font-size: 9px;
  }
}
