.getStarted__wrapper {
  display: flex;
  margin-top: 40px;
}
.getStarted__wrapper input {
  width: 400px;
  height: 50px;
  font-size: 1.5rem;
  padding: 0 4px;
  outline: none;
}
.getStarted__wrapper button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 1.5rem;
  padding: 10px;
  outline: none;
  border: none;
  background-color: #e50914;
  color: white;
}
@media (max-width: 950px) {
  .getStarted__wrapper {
    flex-direction: column;
  }
  .getStarted__wrapper button {
    width: max-content;
    margin: 20px auto;
  }
}
@media (max-width: 425px) {
  .getStarted__wrapper input {
    width: 90vw;
  }
}
